.changePass-page-description {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.changePassMainContainer {
    display: flex;
    padding: 2%;
    padding-left: 5%;
    flex-direction: column;
    align-items: center;
}

.changePassMainHeader{
    display: -webkit-box;
    color: white ;
    font-size: 40px;
}

.changePassIcon{
    padding-left: 5%;
    align-self: center;
    padding-top: 2%;
}

.changePass-block {
    background-color: #2a2421;
    width: 70vh;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 10px;
}

#change-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

#username-input {
    height: 35px;
    margin-left: 17%;
    display: block;
}

#username-input:disabled {
    color: white;
    background-color: #181818;
}

.userInputContainer {
    display: -webkit-box;
    width: 70%;
    height: 30px;
    margin: 15px;
}

.buttonContainer {
    width: 100%;
}

.btnBack {
    float: inline-end;
    margin-right: 2.5%;
    margin-top: 3%;
}

.btnChange {
    margin-left: 62%;
    margin-top: 3%;
}

.ant-form-item .ant-form-item-label >label{
    color: gray;
    font-size: 15px;
    font-weight: 700;
}

.ant-input-password {
    color: white;
    font-size: 15px;
    vertical-align: middle;
    font-family:'bahnschrift',sans-serif;;
    border-radius: 25;
    height: 35px;
    background-color: #181818;
    border: 0;
}

.ant-input-affix-wrapper {
    display: flex;
}

.ant-btn-primary, .ant-btn-primary:active{
    background-color: #41486f;  
}

.pro-name-wrapper{
    width: 85%;
    margin-left: 15%;
    display: block;
}

.main-category-wrapper{
    width: 96%;
    margin-left: 4%;
    display: block;
}

.sub-category-wrapper{
    width: 94.7%;
    margin-left: 5.3%;
    display: block;
}