.exch-page-description {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exchMainContainer {
    display: flex;
    padding: 2%;
    padding-left: 5%;
    flex-direction: column;
    align-items: center;
}

.exchMainHeader{
    display: -webkit-box;
    color: white ;
    font-size: 40px;
}

.exchIcon{
    padding-left: 5%;
    align-self: center;
    padding-top: 2%;
}

.exchInputContainer {
    display: -webkit-box;
}

.main-currency {
    font-size: 16px;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    vertical-align: middle;
    color: white;
}

.secondary-currency {
    font-size: 16px;
    align-items: center;
    padding-right: 5%;
    padding-top: 1%;
    color: white;
}

.exch-block {
    background-color: #2a2421;
    width: 70vh;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 10px;
}

.ant-form-item .ant-form-item-label >label{
    color: gray;
    font-size: 15px;
    font-weight: 700;
}


.ant-btn-primary, .ant-btn-primary:active{
    background-color: #41486f;
}